@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Bienvenue sur cette MVC</h1>
    <em class="display-5">Le but de ce projet est d'acquérir des connaissances</em>
    <em class="display-5">en programmation, en créant une interface en c# liée à une base de données SQL</em>

</div>
